# Flask configuration
FLASK_ENV=development
FLASK_APP=app.py
PORT=5000

# MongoDB URI (default to localhost)
# If MongoDB is not running, the application will automatically fall back to SQLite.
MONGO_URI=mongodb://localhost:27017/
DB_NAME=sentiment_analyzer

# Model Name from Hugging Face
MODEL_NAME=lxyuan/distilbert-base-multilingual-cased-sentiments-student
